aiohttp==3.6.0
async-timeout==3.0.1
attrs==19.3.0
backcall==0.1.0
boto3==1.16.19
botocore
cached-property==1.5.1
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
decorator==4.4.2
discord-py-slash-command==1.1.0
discord.py==1.5.0
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
jmespath==0.10.0
multidict==4.7.5
parso==0.6.2
pickleshare==0.7.5
#Pillow==8.3.2
plumbum==1.6.9
prettytable==0.7.2
prompt-toolkit==3.0.5
Pygments==2.7.4
python-dateutil==2.8.1
python-dotenv==0.11.0
pywinsandbox==1.1.0
recordclass==0.13.2
requests
rpyc==4.1.4
s3transfer==0.3.3
six==1.14.0
traitlets==4.3.3
typing-extensions==3.7.4.3
urllib3==1.26.5
wcwidth==0.1.9
websockets==9.1
yarl==1.4.2
yattag==1.13.2
